{% extends "base.html" %}


{%block content%}
<html>

<head> <title>INDEX</title></head>
<body>
    <div class="container">
  <div class="row">
    <div class="col-sm-2">
      One of three columns
    </div>
    <div class="col-sm-9">
        <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>$</th>
          <th><a href="/craigapp/ad_listing">Items</a></th>
          <th>Seller</th>
        </tr>
      </thead>
      <tbody>   
      {% for ad in ads %}
        <tr>
          <td>{{ad.price}}</td>
          <td>{{ad.item}}</td>
          <td>{{ad.user.username}}</td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="col-sm-1">
        <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>CITIES</th>
              </tr>
            </thead>
        <tbody>
          <tr><td>RALEIGH</td></tr>
          <tr><td>New BERN</td></tr>
          <tr><td>Durham</td></tr>
          <tr><td>Column content</td></tr>
          <tr><td>Column content</td></tr>

        </tbody>
        </table>
    </div>
  </div>

</div>
</body>
{%endblock%}

</html>
